node_modules/
storefront-reference-architecture/
lib_productlist/
plugin_productcompare/
plugin_wishlists/

coverage/
npm-debug.log
cartridges.zip
.idea/
sitegenesisdata/
mobilefirstdata/
storefrontdata/
demo_data_sfra/
demo_data_sfra.zip
.DS_Store
test/appium/webdriver/config.json
.history
*.iml
.idea
test/acceptance/report
test/integration/config.json